body{
    background:url("wp2062757.jpg");
}

*{
  margin: 0;

}

#header{
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position:sticky;
  background-color: black;
   
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
}

h1{
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  color: #222;
}

.header_right{
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;

}

.header_middle{
display: flex;
justify-content: center;
height: 58px;
width: 1324px;
} 

.header_option {
/* display: flex;
align-items: center;
cursor: pointer;
margin-right: 10px; */
border:1px solid black;
display:inline;
padding: 1px 30px;
display:flex;

}

.header_option .material-symbols-outlined{
font-size: xx-large;
color: gray;
width: 32px;
padding-right: 83px;
}

.material-symbols-outlined{
color: gray;
font-size: xx-large;
}

.input{
border: none;
background-color: transparent;
outline: 0;
}


.material-symbols-outlined:hover{
color: blue;
}





.image{
  border-radius:60% 60% 60% 60%;  
  width:100px;
  height:100px;
  float: left;
  margin: 5px 2px;
  
  
}

.Zodiac_images{
    height: 100px;
}

.top {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
   width: 87%;
   padding: 2px;
   margin-right: 104px;   /* Horizontal Space */
   margin-bottom: 13px;
   height: 12px;

   
}

.bottom{
   display: flex;
   justify-content: space-evenly;
   margin: auto;
   width: 90%;
   padding: 1px;
   margin-right: 80px;   /* Horizontal Space */
   margin-bottom: 10px;
   height: 17px;
}

.Zodiac{
  font-size: x-small;
  color: white;
  width: 100px;
  margin-top: 80px;
  text-align: center;

  
 
}

.description1{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
   width: 73%;
   padding: 1px;
   margin-right: 173px;   /* Horizontal Space */
   margin-bottom: -22px;
   height: 181px;
   


}
.description2{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
   width: 85%;
   padding: 1px;
   margin-right: 80px;   /* Horizontal Space */
   margin-bottom: -22px;

}



.footer-links{
  position: absolute;
  bottom: 0px;
  text-align: center;
  
}